:root {
  --mcb-primary: #0db423;
  --mcb-secondary: #cecece;
  --mcb-primary-text: #fff;
  --mcb-secondary-text: #222;

  --mcb-background: #23232a;

  --mcb-border: #fff;
  --mcb-border-color: #ffffff00;

  --bezel-color: rgba(0, 0, 0, 0.4);
  --bezel-color-semi: rgba(128, 128, 128, 0.4);
  --bezel-color-invert: rgba(255, 255, 255, 0.4);
}

@font-face {
  font-family: "Minecraft Ten";
  font-style: normal;
  font-weight: 400;
  src: local("Minecraft Ten"),
    url("https://fonts.cdnfonts.com/s/46126/Minercraftory.woff") format("woff");
}

@font-face {
  font-family: "Minecraft Seven";
  font-style: normal;
  font-weight: 400;
  src: url("minecraft.woff2") format("woff2");
}

body {
  background-color: var(--mcb-background);
  color: white;
  font-family: "Minecraft Ten", "Minecraft Seven", serif;
}
