:root {
  --mcb-primary: #0db423;
  --mcb-primary-dark: #076b14;
  --mcb-secondary: #cecece;
  --mcb-secondary-dark: #575759;
  --mcb-primary-text: #fff;
  --mcb-secondary-text: #222;

  --mcb-background: #23232a;

  --mcb-border: #fff;
  --mcb-border-color: #00000066;
  --bezel-color: #00000066;
  --bezel-color-semi: rgba(200, 200, 200, 0.4);
  --bezel-color-invert: rgba(255, 255, 255, 0.4);
}

@font-face {
  font-family: "Minecraft Ten";
  font-style: normal;
  font-weight: 400;
  src: local("Minecraft Ten"),
    url("https://fonts.cdnfonts.com/s/46126/Minercraftory.woff") format("woff");
}

@font-face {
  font-family: "Minecraft Seven";
  font-style: normal;
  font-weight: 400;
  src: url("components/minecraft.woff2") format("woff2");
}

/*body {
  background-color: var(--mcb-background);
  color: white;
  font-family: "Minecraft Ten", "Minecraft Seven", serif;
}*/

.mcb-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  color: var(--mcb-text-color);
  border: none;
  position: relative;
  cursor: pointer;
  border-style: solid;
  border-width: 0 0 4px 0;
  border-top-color: transparent;
  /*border-bottom-color: var(--mcb-border-color);*/
  border-left-color: transparent;
  border-right-color: transparent;
  background-clip: padding-box;
  box-sizing: border-box;
  text-transform: uppercase;
  box-shadow: inset 0px -2px 0px 0px var(--bezel-color),
    inset -2px 0px 0px 0px var(--bezel-color),
    inset 0px 2px 0px 0px var(--bezel-color-invert),
    inset 2px 0px 0px 0px var(--bezel-color-invert);
}

.mcb-input {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  white-space: nowrap;
  border: none;
  position: relative;
  border-style: solid;
  border-width: 0 0 4px 0;
  border-top-color: transparent;
  /*border-bottom-color: var(--mcb-border-color);*/
  border-left-color: transparent;
  border-right-color: transparent;
  background-clip: padding-box;
  box-sizing: border-box;
  box-shadow: inset 0px -2px 0px 0px var(--bezel-color-invert),
    inset -2px 0px 0px 0px var(--bezel-color-invert),
    inset 0px 2px 0px 0px var(--bezel-color),
    inset 2px 0px 0px 0px var(--bezel-color);
}

.mcb-input:focus {
  outline: 1px solid white;
}

.mcb-input:disabled {
  cursor: not-allowed;
  color: var(--mcb-text-color-disabled);
  filter: grayscale(0.7) brightness(0.8);
}

.mcb-button:disabled {
  cursor: not-allowed;
  color: var(--mcb-text-color-disabled);
  filter: grayscale(0.7) brightness(0.8);
}

.mcb-button:hover {
  background-color: var(--mcb-bg-hover-color);
  box-shadow: inset 0px -2px 0px 0px var(--bezel-color-semi),
    inset -2px 0px 0px 0px var(--bezel-color-semi),
    inset 0px 2px 0px 0px var(--bezel-color-invert),
    inset 2px 0px 0px 0px var(--bezel-color-invert);
}

.mcb-button:active:hover:not(:disabled) {
  border-bottom-color: var(--mcb-bg-hover-color);
}

.mcb-button:focus::after:not(:disabled) {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 8px);
  box-shadow: inset 0 0 0 1px var(--mcb-text-color);
}

.mcb-button:active::after:not(:disabled) {
  display: none;
}

.mcb-button:focus {
  outline: white solid 1px;
}

.mcb-button-active,
.mcb-button:active:not(:disabled) {
  border-bottom-color: transparent;
  outline: none;
  border-width: 4px 0 0;
  border-bottom-color: var(--mcb-bg-color);
  background-color: var(--mcb-bg-active-color);
  box-shadow: inset 0px -2px 0px 0px var(--bezel-color-invert),
    inset -2px 0px 0px 0px var(--bezel-color-invert),
    inset 0px 2px 0px 0px var(--bezel-color),
    inset 2px 0px 0px 0px var(--bezel-color);
}

.mcb-card {
  display: flex;
  flex-direction: column;
  background-color: var(--mcb-secondary-dark);
  border: 1px solid var(--mcb-border-color);
  padding: 16px;
  margin: 16px;
  box-shadow: inset 0px -2px 0px 0px var(--bezel-color),
    inset -2px 0px 0px 0px var(--bezel-color),
    inset 0px 2px 0px 0px var(--bezel-color-invert),
    inset 2px 0px 0px 0px var(--bezel-color-invert);
}

.mcb-title {
  color: var(--mcb-primary-text);
}

.mcb-title-1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--mcb-primary-text);
}

.mcb-title-2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--mcb-primary-text);
}

.mcb-title-3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--mcb-primary-text);
}

.mcb-title-4 {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--mcb-primary-text);
}

.mcb-title-5 {
  font-size: 1rem;
  font-weight: 700;
  color: var(--mcb-primary-text);
}
